#footer {
    background: #333 url(../images/bg-2.png) repeat;
    width: 100%;
    float: left;
    padding: 30px 0 0;
}

.footer-panel {
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.footer-panel-content {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.footer-panel-title {
    display: block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-left: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    color: #c44900;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.footer-panel-content p {
    padding-bottom: 20px;
}

#shipment-panel-title {
    background: url(../images/wysylka.png) no-repeat;
}

#payment-panel-title {
    background: url(../images/platnosc.png) no-repeat;
}

#footer-copyright-wrapper {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    float: left;
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#footer-copyright-text {
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
}

.footer-panel-content > p {
    padding: 0;
}

.footer-panel-content > ul {
    margin-bottom: 20px;
}

.footer-panel-content > ul > li {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /*white-space: nowrap;*/
    width: 100%;
    display: block;
    float: left;
    clear: both;
    padding: 10px;
}

.footer-panel-content > ul > li img {
    display: block;
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
}

/*@media (min-width: 992px) and (max-width: 1200px) {*/
    /*.footer-panel-content > ul > li > div > img {*/
        /*display: block;*/
        /*height: 100px;*/
        /*width: 200px;*/
    /*}*/
/*}*/

.footer-panel-content > ul > li > div > ul {
    float: left;
    margin: 10px;
}

#auto-position > img {
    width: auto;
    margin: auto;
}