.gallery-thumbnail-image:hover > .gallery-main-image {
    opacity: 1;
    visibility: visible;
}

.gallery-thumbnail-image {
    background: #fff url(http://imgur.com/cu1CECg.jpg) 50% 50% no-repeat;
    display: inline-block;
    padding: 4px;
    margin: 5px 1px;
    border: 1px solid #440D0F;
}

#gallery-photo-container .gallery-thumbnail-image > img {
    display: block;
    width: 79px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.gallery-main-image {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 161px;
    left: 40px;
    right: 40px;
    transition: all 0.2s ease-in-out;
}

#gallery-photo-container > img {
    display: block;
    max-width: 100%;
    height: 600px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid #440D0F;
}

.gallery-main-image > img {
    display: block;
    max-width: 100%;
    height: 600px;
    padding: 4px;
    border: 1px solid #440D0F;
}

.gallery-thumbnail-image img:hover {
    opacity: 0.3;
}