#header-img {
    display: block;
    width: 100%;
}

#header-panel {
    background: url(http://imgur.com/5Yeeswj.jpg) repeat;
    height: 100px;
}

#header-belt {
    background: rgb(0, 0, 0);
    height: 50px;
}

#menu ul li {
    padding: 0;
    display: block;
}

#menu ul li a {
    display: block;
    height: 50px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to bottom, #323232, #000000);
    border-radius: 3px;
    color: #fff;
    padding: 19px 25px 18px 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease-in-out;
    line-height: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    margin: 5px;
}

#menu ul {
    float: left;
    padding-left: 0;
    width: 100%;
    background: rgb(35, 35, 35);
    margin: 0;
}

.menu-border {
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(130,130,130,1) 30%, rgba(130,130,130,1) 70%, rgba(0,0,0,1) 100%);
    height: 5px;
    clear: both;
}

#menu ul li a:hover {
    color: #440D0F;
    background-image: linear-gradient(to bottom, #1e1e1e, #505050);
}
