#contact-panel {
    background: #440D0F;
}

.simple-panel-title {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #A4243B;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.simple-panel {
    background: url(http://imgur.com/5Yeeswj.jpg) repeat;
}

.simple-panel ul {
    margin-bottom: 0;
}

.simple-panel ul li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0;
}

.simple-panel ul li a {
    display: block;
    padding: 9px 20px;
    transition: all 0.2s ease-in-out;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.simple-panel ul li a:hover {
    background: rgba(0, 0, 0, 0.05);
    padding: 9px 20px 9px 25px;
    color: #440D0F;
}

#phone-icon {
    padding: 15px 20px 15px 59px;
    background: url(http://imgur.com/3fVRLIb.jpg) 20px 50% no-repeat;
}

#email-icon {
    padding: 15px 20px 15px 59px;
    background: url(http://i.imgur.com/z5CXCi4.jpg) 20px 50% no-repeat;
}

#address-icon {
    padding: 15px 20px 15px 59px;
    background: url(http://imgur.com/qINvNyB.jpg) 20px 50% no-repeat;
}

#info-panel-wrapper {
    display: block;
    float: left;
}

.sidebar-shadow img {
    width: 100%;
}

.info-panel-row {
    padding: 15px 20px 15px 59px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    clear: both;
}

.info-panel-icon {
    float: left;
    display: block;
}

.info-panel-text {
    display: block;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.15);
    color: #fff;
}

.info-panel {
    border-radius: 4px;
}

.info-panel {
    margin: 10px 10px 0;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.simple-panel-text {
    letter-spacing: 1px;
    padding: 26px;
    font-size: 17px;
    font-weight: 200;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}