#content-title {
    background: #440D0F;
    color: #fff;
    margin: 20px 10px;
    padding: 14px;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.content-panel-title {
    color: #603A40;
    margin: 10px 3px;
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    border-bottom: 2px dashed;
}

.content-panel-text {
    font-size: 17px;
}

.content-panel {
    background: #fff;
    margin: 0 10px;
    padding: 14px;
    border: 1px dotted #440D0F;
    border-radius: 2px;
}

#page-wrapper {
    background: url(http://imgur.com/pDCQPFA.jpg) repeat;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0 auto;
}

.simple-panel-text p {
    text-align: center;
}

.simple-panel-text > p > img {
    margin: 20px auto;
    display: block;
    padding: 20px 0;
    max-width: 100%;
}

.small-image img {
    width: 50%;
    margin: 0 auto;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    /*display: block;*/
}

.col-1 {
    width: 8.3333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333%;
}

.col-5 {
    width: 41.6666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333%;
}

.col-8 {
    width: 66.6666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333%;
}

.col-11 {
    width: 91.6666667%;
}

.col-12 {
    width: 100%;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}