#content-title {
    background: #c44900;
    color: #fff;
    margin: 10px;
    margin-bottom: 20px;
    padding: 14px;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.content-panel-title {
    background: #c44900;
    color: #fff;
    margin: 3px;
    padding: 3px;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.content-panel {
    background: #fff;
    margin: 10px;
    margin-bottom: 0;
    padding: 14px;
    font-size: 12px;
    border: 1px dotted #e24430;
    border-radius: 2px;
}

#page-wrapper {
    background: url(../images/bg-1.png) repeat;
}

#content-wrapper {
    margin: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0 auto;
}

.simple-panel-text p {
    text-align: center;
}

.simple-panel-text > p > img {
    margin: 20px auto;
    display: block;
    padding: 20px 0;
    max-width: 100%;
}

.small-image img {
    width: 50%;
    margin: 0 auto;
}