#content-title {
    background: #440D0F;
    color: #fff;
    margin: 20px 10px;
    padding: 14px;
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.content-panel-title {
    color: #603A40;
    margin: 10px 3px;
    padding: 3px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    border-bottom: 2px dashed ;
}

.content-panel-text {
    font-size: 17px;
}

.content-panel {
    background: #fff;
    margin: 0 10px;
    padding: 14px;
    font-size: 12px;
    border: 1px dotted #440D0F;
    border-radius: 2px;
}

#page-wrapper {
    background: url(http://s22.postimg.org/da95fo4z5/p_DCQPFA.png) repeat;
}

#content-wrapper {
    margin: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-margin {
    margin: 0 auto;
}

.simple-panel-text p {
    text-align: center;
}

.simple-panel-text > p > img {
    margin: 20px auto;
    display: block;
    padding: 20px 0;
    max-width: 100%;
}

.small-image img {
    width: 50%;
    margin: 0 auto;
}